################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.db
*.opendb
x64
bin
obj
ipch
*.user