################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.db
*.filters
*.opendb
*.sdf
*.suo
*.user
bin
Debug
ipch
obj
Release
x64

# RS
# Ignore qtcreator build dir and other files
build-*-Desktop-Debug
*.pri
